<div class="container">
  <%= render 'shared/user', user: @user%>
  <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %>">
        <%= msg %>
      </div>
    <% end %>

</div>

<section class="container py-2 my-3">
<div class=" card px-4 py-2">
<h4>Bio</h4>
<p><%= @user.bio %></p>
</div>
</section>

<section class="container">
  <% @posts.each do |post|%>
    <div class="card py-2 px-4">
    <h4 class="post-title"><a href="<%= post.author_id%>/posts/<%= post.id%>" class="text-decoration-none"> <%= post.title %> </a></h4>
    <div>
      <p><%= post.text|| '0' %></p>
      <span class="flex flex-row-reverse">
      <% if can? :destroy, post %>
        <%= button_to "Delete", user_post_path(post.author_id, post.id), method: :delete, class:"btn btn-danger btn-sm" %>
      <% end %>
      <p class="counter mx-2"> Likes: <%= post.like_counter|| '0' %></p>
      <p class="counter"> Comments: <%= post.comment_counter|| '0' %></p>
      </span>
      </div>
    </div>
    <%= render 'shared/comments', comments: post.recent_comments%>
  <% end %>
</section>
<section class="container text-center mb-4">
<%= link_to "See all posts", user_posts_path(user_id: @user.id), class:"btn btn-primary btn-md"%>
<section>
