<%= form_with(model:post) do |form| %>
<% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-column">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text :title, class: 'form-text mb-3' %>
    <%= form.label :text, "Content", class: 'form-label' %>
    <%= form.text :text, class: 'submit form-text mb-3' %>
  </div>
  <%= form.submit "Submit Comment" , class: 'submit btn btn-primary  mb-3' %>

<% end %>