<%= form_with model: post, url: user_posts_path, local: true do |form| %>
  <div class="flex flex-column">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-text mb-3' %>
    <%= form.label :text, "Content", class: 'form-label' %>
    <%= form.text_area :text, class: 'submit form-text mb-3' %>
  </div>
  <%= form.submit "Submit Post" , class: 'submit btn btn-primary  mb-3' %>
<% end %>