<section class="post-container">
<span class="post-header">
<h1><%= @post.title %> by <%= @post.author.name %></h1>
<p class="post-header">
<p class="counter"> Comments: <%= @post.comment_counter|| '0' %></p>
<p class="counter"> Likes: <%= @post.like_counter|| '0' %></p>
</p>
 </span>

<p><%=@post.text%></p>
</section>

<section class="comment-container">
<h3> Comments </h3>
<% @post.comments.each do |comment| %>
<p><%= User.find(comment.author_id).name %>: <%= comment.text %></p>
<% end %>
</section>