<section class="container">
  <div class="post-header">
    <h2>
      <%= @post.title %> by <%= @post.author.name %>
    </h2>
    <span class="flex flex-row-reverse">
      <p class="counter mx-2"> Likes: <%= @post.like_counter|| '0' %>
      </p>
      <p class="counter"> Comments: <%= @post.comment_counter|| '0' %>
      </p>
    </span>
  </div>

  <p>
    <%=@post.text%>
  </p>
  <h3> Comments </h3>
  <%= render 'shared/comments' , comments: @post.comments%>
</section>

<section class="container">
  <div class="user-interaction">
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>


    <%= form_with model: @comment, url: user_post_comments_path(@author, @post), method: :post, local: true do
      |form| %>
      <div class="flex flex-column">
    <%= form.label :text, "Create comment", class: 'form-label' %>
    <%= form.text_area :text, class: 'submit form-text mb-3' %>
      </div>
      <%= form.submit "Submit Comment" , class: 'submit btn btn-primary  mb-3' %>

    <% end %>
    <%= form_with model: @like, url: user_post_likes_path(@author, @post), method: :post, local: true do
      |form| %>
      <%= form.submit "Like" , class: 'submit btn btn-primary' %>
    <% end %>
  </div>
</section>
